<style>
    #footer {
        background-color: lightskyblue;
        color: black;
        clear: both;
        text-align: center;
        padding: 5px;
    }
</style>

<br />
<div id = "footer">
    Restaurant Raters, Inc. Project 2
</div>

</body>
</html>
