<!DOCTYPE html>
<html>
<head>
    <% include partials/header %>
    <h1>About Us</h1>
</head>
<body>
    Our purpose: <strong>To provide an environment for customers to give their feedback on restaurants and their menus.</strong>
    <br />
    <br />
    Things you should know about Restaurant Raters:
        <ol>
            <li>
                <strong>We provide information to help you choose where you'd like to dine.</strong>
            </li>
            </br>
            <li>
                <strong>We give you the opportunity to rate restaurants and their menus for others to see.</strong>
            </li>
            </br>
            <li>
                <strong>We provide you with important information about each restaurant.</strong>
            </li>
        </ol>
    <br />

    Contact Us: <strong>Restaurant Raters Inc.</strong>
    (925)123-4567
<br />
<br />
</body>
<% include partials/footer %>
</html>